body {
    background-color: var(--main-background);
    font-size: 14px;
    line-height: 1.6;
    color: var(--main-text-color);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.wrapper {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;

    padding-right: 20px;
    padding-left: 20px;
}

.center {
    text-align: center;
}


header {
    background-color: #7183a8;
    padding: 30px;
    text-align: center;
    color: var(--main-background);
}

.column {
    margin: 0 auto;
    display: grid;
    width: 490px; 
    float: left;
}

/* Navigation Bar */

nav {
    display: block;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondary-background);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: var(--main-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: var(--main-background);
}


/* Text styles */

h1 {
    font-size: 36px;
}


/* Variables */

:root {
    --main-background: #12141a;
    --main-text-color: #dde4e7;
    --secondary-background: #262933;
}


.ytfull {
  border: 2px solid black;
}

.ytp-gradient-top, .ytp-chrome-top, .ytp-chrome-bottom, .ytp-show-cards-title, .ytp-chrome-top-buttons {
  display: none
}